body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.cookie-consent {
  position: fixed;
  bottom: 20px;
  left: 10px;
  right: 10px;
  background-color: orange;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 260px;
  padding: 20px;
  font-weight: 900;
}

.cookie-consent button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bolder;
}

.cookie-consent button:hover {
  background-color: #45af50;
}

.cookie-close {
  background: none;
  color: #fff;
  border: none;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}

.cookie-close:hover {
  color: #ddd;
}
